* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
li {
  list-style: none;
}
img {
  width: 100%;
}
ul {
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
}
h1,
h2,
h3,
p {
  margin: 0;
}
